@import 'header.scss';
@import 'card.scss';
@import 'review.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root, .container {
    width: 100%;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    padding: 1em 7.5rem;
}

.ratingStars {
    display: flex;
    align-items: center;
    gap: 10px;
}